.button {
  height: 50px;
  padding: 50px;
  text-align: left;
}

.buttonLabel {
  position: absolute;
  left: 10px;
}

.filter {
  display: block;
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.resize {
  font-size: 60px;
}

ul {
  margin: 0px;
  padding: 0px 15px;
}
